{% extends 'assets/index.html' %}
{% load static %}


{% block title %}
    <title>硬件资产列表</title>
{% endblock title %}

{% block index_active %}{% endblock %}
{% block newassets_active %}active{% endblock %}

{% block navheader %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-1">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'assets:index' %}">首页</a></li>
                        <li class="breadcrumb-item active">待审批资产列表</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock navheader %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">待审批资产列表&nbsp;<button type="button" id="Approval" class="btn btn-primary" >批量审批</button></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="assets-lists" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" id="selectall"></th>
                    <th>资产类型</th>
                    <th>SN序列号</th>
                    <th>型号</th>
                    <th>生产厂商</th>
                    <th>添加日期</th>
                    <th>更新日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {% for asset in newassets %}

                <tr id="asset-{{ asset.id }}">
                    <td><input type="checkbox" id="row_{{ asset.id }}" value="{{ asset.id }}" title="{{ asset.get_asset_type_display }},{{ asset.sn }}"></td>
                    <td class="text-bold" >{{ asset.get_asset_type_name }}</td>
                    <td>{{ asset.sn }}</td>
                    <td>{{ asset.model }}</td>
                    <td>{{ asset.manufacturer }}</td>
                    <td>{{ asset.c_time|date:"Y/m/d H:m:s" }}</td>
                    <td>{{ asset.m_time|date:"Y/m/d H:m:s" }}</td>
                    <td>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg" data-whatever="{{ asset.id }}">
                          查看
                        </button>
                        <button type="button" class="btn btn-primary" onclick="approvalmodal(this,{{ asset.id }},{{ asset.id }});" title="{{ asset.get_asset_type_display }},{{ asset.sn }}">
                          审批
                        </button>
                        <button type="button" class="btn btn-danger" id="{{ asset.id }}" onclick="createmodal(this);" title="{{ asset.get_asset_type_display }},{{ asset.sn }}">
                          删除
                        </button>

                    </td>
                </tr>
                {% empty %}
                <tr>没有数据！</tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!--删除确认窗口-->
    <div id="modal-container">
    </div>

    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">资产详情</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="assets_info">无</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock content %}

{% block script %}
<script>
    function format(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td width="100px">资产SN号:</td>' +
            '<td>' + d['sn'] + '</td>' +
                '<td>资产类型:</td>' +
            '<td>' + d.asset_type_display + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>生产厂商:</td>' +
            '<td>' + d.manufacturer + '</td>' +
                '<td>型号:</td>' +
            '<td>' + d.model + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>内存大小:</td>' +
            '<td>' + d.ram_size + '</td>' +
                '<td>CPU型号:</td>' +
            '<td>' + d.cpu_model + '</td>' +
            '</tr>' +
                 '<tr>' +
            '<td>CPU数量:</td>' +
            '<td>' + d.cpu_count + '</td>' +
                '<td>CPU物理核数:</td>' +
            '<td>' + d.cpu_physical_count + '</td>' +
            '</tr>' +
                 '<tr>' +
            '<td>CPU逻辑核数:</td>' +
            '<td>' + d.cpu_core_count + '</td>' +
                '<td>发行商:</td>' +
            '<td>' + d.os_distribution + '</td>' +
            '</tr>' +
                 '<tr>' +
            '<td>系统类型:</td>' +
            '<td>' + d.os_type + '</td>' +
                '<td>操作系统版本号:</td>' +
            '<td>' + d.os_release + '</td>' +
            '</tr>' +
                 '<tr>' +
            '<td>汇报日期:</td>' +
            '<td>' + d.c_time + '</td>' +
                '<td>数据更新日期:</td>' +
            '<td>' + d.m_time + '</td>' +
            '</tr>' +
                 '<tr>' +
            '<td>资产数据:</td>' +
            '<td colspan="3">' + d.data + '</td>' +
            '</tr>' +
            '</table>';
    }
    $(function () {
        var assets_table = $("#assets-lists").DataTable({
            //buttons: [
            //'copy', 'excel', 'pdf'
            //],
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            destroy: true,	// 允许重建
            bProcessing: true,  // 表格数据过多处理时显示: sProcessing
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "全部"]],
            order: [],
            scrollY: 480,	// 滚动条
            scrollCollapse: true,
            jQueryUI: true,
            stateSave: true,	// 保存最后一次分页信息、排序信息，当页面刷新，或者重新进入这个页面，恢复上次的状态。
            stateDuration: 86400,	// 本地储存(0~更大)还是session储存(-1)
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            //"autoWidth": false,
            "responsive": true,
        });
        $("tr").slice(1).click(function () {
            // 切换样式
            //$(this).toggleClass("tr_active");
            // 找到checkbox对象
            var chks = $("input[type='checkbox']",this);
            var tag = $(this).attr("tag");
            if(tag=="selected"){
                // 之前已选中，设置为未选中
                $(this).attr("tag","");
                chks.prop("checked",false);
            }else{
                // 之前未选中，设置为选中
                $(this).attr("tag","selected");
                chks.prop("checked",true);
            }
        });

         // Add event listener for opening and closing details

        $("#selectall").change(function() {
            var checkboxs = $("#tbody").find("input[type='checkbox']");
            var isChecked = $(this).is(":checked");
            //严禁使用foreach，jq对象的遍历会使浏览器崩溃
            for(var i = 0; i < checkboxs.length; i++) {
                //临时变量，必须，否则只能选中最后一条记录
                var temp = i;
                $(checkboxs[temp]).prop("checked",isChecked);
            }
        });
        $("#Approval").on('click',function(){
            var checkids = [];
            var check_titles = []
            $("#tbody input[type='checkbox']:checked").each(function(i){
                checkids[i] = $(this).val();
                check_titles[i] = '['+$(this).attr("title")+']';
            });
            if(checkids.length > 0)
            {
                $("#Approval").attr("title",check_titles);
                approvalmodal(this,'all',checkids);
            }
            else{
                alert('请选择需要审批的资产！');
            }
        });
    });
</script>
{% endblock %}

{% block js %}
    <!-- 删除 -->
    <script>
        $('#modal-lg').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            $.ajax({
                url:'{% url 'assets:newassets_detail' %}',
                type: 'GET',
                data: {
                    assets_id:recipient,
                },
                cache: false,
                success:function (data) {
                    console.log(data)
                    if (data['status'] == 'SUCCESS'){
                        // 更新点赞状态
                        console.log(data['newasset'])
                        modal.find('.modal-body #assets_info').html(format(data['newasset']))
                    }
                },
                error:function (xhr) {
                    console.log(xhr);
                }
            });
        })
        createmodal = function (event) {
            var thisObj = $(event);	//js对象转jquery对象
            var asset_id = thisObj.attr('id');
            var asset_name = thisObj.attr("title");

            // 生成弹出框，使用 \ 换行
            $("#modal-container").html('<div id="modal-delete-' + asset_id + '" class="iziModal"><div class="container-fluid"><div class="row">\
    <div class="col-12 p-3"><h5 class="text-center mt-3">确定要删除 <' + asset_name + '> 吗？</h5></div><div class="col-6 p-3">\
    <button type="button" class="btn btn-block btn-secondary btn-flat" data-iziModal-close>取消</button></div><div class="col-6 p-3">\
    <a href="javascript:void(0)"><button type="button" class="btn btn-block btn-success btn-flat" id="' + asset_id + '-yes" title="\
    ' + asset_name + '" onclick="deletehardware(this);">确定</button></a></div></div></div></div>');

            // 初始化弹出框
            $("#modal-delete-" + asset_id).iziModal({
                iconClass: 'icon-announcement',
                width: 450,
                padding: 10,
                overlayClose: false,	// 是否允许点击模态窗口的外部来关闭模态窗口。
                closeOnEscape: false, 	// 是否允许通过点击ESC键来关闭模态窗口。
            });

            // 打开弹出框
            $('#modal-delete-' + asset_id).iziModal('open');
        }


        deletehardware = function (event) {
            toastr.options.closeButton = true;
            toastr.options.showMethod = 'slideDown';
            toastr.options.hideMethod = 'fadeOut';
            toastr.options.closeMethod = 'fadeOut';
            toastr.options.timeOut = 4000;
            toastr.options.extendedTimeOut = 0;

            var thisObj = $(event);	//js对象转jquery对象
            var asset_id = thisObj.attr('id').split("-")[0];
            var asset_name = thisObj.attr("title");
            csrfmiddlewaretoken = '{{ request.COOKIES.csrftoken }}';
            $.ajax({
                url: "{% url 'assets:newassets_delete' %}",
                async: true,
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    'id': asset_id,
                },
                timeout: 10000,
                cache: true,
                beforeSend: LoadFunction, //加载执行方法
                error: errFunction,  //错误执行方法
                success: succFunction, //成功执行方法
            });

            function LoadFunction() {
                //$("#aboutcontent").html('删除中...');
                //alert('删除中');
            };

            function errFunction() {
                // 关闭弹出框
                $('#modal-delete-' + asset_id).iziModal('close');
                // 消息框
                toastr.error('删除错误 <' + asset_name + '>');
            };

            function succFunction(res) {
                if (res.code != 200) {
                    // 关闭弹出框
                    $('#modal-delete-' + asset_id).iziModal('close');
                    // 消息框
                    toastr.error('删除错误 <' + asset_name + '>');
                } else {
                    // 先销毁 datatable , 动态删除数据后，然后再重建
                    var dttable = $('#assets-lists').DataTable();
                    dttable.destroy();

                    $("#asset-" + asset_id).remove();

                    $("#assets-lists").DataTable({
                        language: {
                            "sProcessing": "处理中...",
                            "sLengthMenu": "显示 _MENU_ 项结果",
                            "sZeroRecords": "没有匹配结果",
                            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                            "sInfoPostFix": "",
                            "sSearch": "搜索:",
                            "sUrl": "",
                            "sEmptyTable": "表中数据为空",
                            "sLoadingRecords": "载入中...",
                            "sInfoThousands": ",",
                            "oPaginate": {
                                "sFirst": "首页",
                                "sPrevious": "上页",
                                "sNext": "下页",
                                "sLast": "末页"
                            },
                            "oAria": {
                                "sSortAscending": ": 以升序排列此列",
                                "sSortDescending": ": 以降序排列此列"
                            }
                        },
                        destroy: true,	// 允许重建
                        bProcessing: true,  // 表格数据过多处理时显示: sProcessing
                        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "全部"]],
                        order: [],
                        scrollY: 480,	// 滚动条
                        scrollCollapse: true,
                        jQueryUI: true,
                        stateSave: true,	// 保存最后一次分页信息、排序信息，当页面刷新，或者重新进入这个页面，恢复上次的状态。
                        stateDuration: 86400,	// 本地储存(0~更大)还是session储存(-1)
                    });

                    // 关闭弹出框
                    $('#modal-delete-' + asset_id).iziModal('close');

                    // 消息框
                    toastr.success('成功删除 <' + asset_name + '>');
                }
            };
        }

        approvalmodal = function (event,asset_id,asset_list) {
            var thisObj = $(event);	//js对象转jquery对象
            var asset_name = thisObj.attr("title");
            // 生成弹出框，使用 \ 换行
            $("#modal-container").html('<div id="modal-approval-' + asset_id + '" class="iziModal"><div class="container-fluid"><div class="row">\
    <div class="col-12 p-3"><h5 class="text-center mt-3">确定要审批 <' + asset_name + '> 吗？</h5></div><div class="col-6 p-3">\
    <button type="button" class="btn btn-block btn-secondary btn-flat" data-iziModal-close>取消</button></div><div class="col-6 p-3">\
    <a href="javascript:void(0)"><button type="button" class="btn btn-block btn-success btn-flat" value="'+asset_list+'" id="' + asset_id + '-yes" title="\
    ' + asset_name + '" onclick="approvalassets(this);">确定</button></a></div></div></div></div>');

            // 初始化弹出框
            $("#modal-approval-" + asset_id).iziModal({
                iconClass: 'icon-announcement',
                width: 450,
                padding: 10,
                overlayClose: false,	// 是否允许点击模态窗口的外部来关闭模态窗口。
                closeOnEscape: false, 	// 是否允许通过点击ESC键来关闭模态窗口。
            });

            // 打开弹出框
            $('#modal-approval-' + asset_id).iziModal('open');
        }

        approvalassets = function (event) {
            toastr.options.closeButton = true;
            toastr.options.showMethod = 'slideDown';
            toastr.options.hideMethod = 'fadeOut';
            toastr.options.closeMethod = 'fadeOut';
            toastr.options.timeOut = 4000;
            toastr.options.extendedTimeOut = 0;

            var thisObj = $(event);	//js对象转jquery对象
            var asset_ids = thisObj.attr('value');
            var moadl_id = thisObj.attr('id').split("-")[0];
            var asset_name = thisObj.attr("title");
            asset_id = asset_ids.split(',');
            csrfmiddlewaretoken = '{{ request.COOKIES.csrftoken }}';
            $.ajax({
                url: "{% url 'assets:newassets_approval' %}",
                async: true,
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    'id': asset_ids,
                },
                timeout: 10000,
                cache: true,
                beforeSend: LoadFunction, //加载执行方法
                error: errFunction,  //错误执行方法
                success: succFunction, //成功执行方法
            });

            function LoadFunction() {
                //$("#aboutcontent").html('删除中...');
                //alert('删除中');
            };

            function errFunction() {
                // 关闭弹出框
                $('#modal-approval-' + moadl_id).iziModal('close');
                // 消息框
                toastr.error('删除错误 <' + asset_name + '>');
            };

            function succFunction(res) {
                if (res.code != 200) {
                    // 关闭弹出框
                    $('#modal-approval-' + moadl_id).iziModal('close');
                    // 消息框
                    toastr.error('审批失败 <' + asset_name + '>');
                } else {
                    // 先销毁 datatable , 动态删除数据后，然后再重建
                    var dttable = $('#assets-lists').DataTable();
                    dttable.destroy();

                    for(i=0;i<asset_id.length;i++)
                    {
                        $("#asset-" + asset_id[i]).remove();
                    }


                    $("#assets-lists").DataTable({
                        language: {
                            "sProcessing": "处理中...",
                            "sLengthMenu": "显示 _MENU_ 项结果",
                            "sZeroRecords": "没有匹配结果",
                            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                            "sInfoPostFix": "",
                            "sSearch": "搜索:",
                            "sUrl": "",
                            "sEmptyTable": "表中数据为空",
                            "sLoadingRecords": "载入中...",
                            "sInfoThousands": ",",
                            "oPaginate": {
                                "sFirst": "首页",
                                "sPrevious": "上页",
                                "sNext": "下页",
                                "sLast": "末页"
                            },
                            "oAria": {
                                "sSortAscending": ": 以升序排列此列",
                                "sSortDescending": ": 以降序排列此列"
                            }
                        },
                        destroy: true,	// 允许重建
                        bProcessing: true,  // 表格数据过多处理时显示: sProcessing
                        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "全部"]],
                        order: [],
                        scrollY: 480,	// 滚动条
                        scrollCollapse: true,
                        jQueryUI: true,
                        stateSave: true,	// 保存最后一次分页信息、排序信息，当页面刷新，或者重新进入这个页面，恢复上次的状态。
                        stateDuration: 86400,	// 本地储存(0~更大)还是session储存(-1)
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": false,
                        "info": true,
                        //"autoWidth": false,
                        "responsive": true,
                    });

                    // 关闭弹出框
                    $('#modal-approval-' + moadl_id).iziModal('close');

                    // 消息框
                    toastr.success('审批成功 <' + asset_name + '>');
                }
            };
        }

    </script>
{% endblock js %}